.name {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .text {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
  }